.navBarHeader{

    background-color: rgb(196, 192, 192);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    
     img{
    width: 10vw; //W - largura
    //height: ; // H - altura 
    }


    ul{
        border: solid red;
        display: flex;
        justify-content: space-around;
        width: 50%;
        list-style: none;
    }

    li{
        font-size: 3rem;
    }

}