.sectionProjetos {
  //background-color: yellow;
  display: flex;
  justify-content: space-around;
  //margin-top: 2rem;
  padding-top: 2rem;
  flex-wrap: wrap ;

}
.cardProjetos {
  border: solid red;
  width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  text-align: center;

  img {
    width: 50%;
  }
}